body{
  margin: 0;
  font-family: 'verdana';
}
::-webkit-scrollbar{
  width: 10px;
  display: none;
}
::-webkit-scrollbar-track{
  background:#f1f1f1;
}
::-webkit-scrollbar-thumb{
  background:#888; 
}
::-webkit-scrollbar-thumb:hover{
  background:#555; 
}
a{
  text-decoration: none;
}


/* section */

.section {
  background-image: url("../images/TechTaste_Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 600px) {
  .section {
    flex-direction: column;
  }
}
.leftsection{
  margin-top: 300px;
  width: 300px;
}
@media screen and (max-width: 600px) {
  .leftsection  {
 margin-top: -20px;
  }
}
.rightsection{
  margin-top: 300px;
}
@media screen and (max-width: 600px) {
  .rightsection img {
  width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .rightsection  {
 margin-top: -60px;
  }
}
input[type="text"] {
  background-color:rgb(243, 242, 242) ;
  border-radius: 5px;
  width: 320px;
  height: 50px;
  border: none;
}
span{
  color: aqua;
}
::placeholder{
  padding: 5px;
}